@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #fff;
}
body {
  min-height: 100vh;
  font-size: 16px;
}

.star {
  color: #ffb800;
  filter: drop-shadow(0 4px 2px #12121235);
  animation: starAppears 4s ease-in-out infinite;
  animation-delay: 0.3s;
  opacity: 0;
}
.star:nth-child(2) {
  animation-delay: 0.9s;
}
.star:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes starAppears {
  0%,
  100% {
    opacity: 0;
    rotate: -25deg;
    filter: drop-shadow(0 4px 2px #12121235);
  }
  5%,
  95% {
    rotate: 0deg;
    opacity: 1;
    filter: drop-shadow(0 8px 12px #ffb800aa);
  }
}

.modalWrapper {
  z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
  width: 42px !important;
  aspect-ratio: 1/1 !important;
  background-image: url("/icons/prev_icon.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  transition: scale 0.3s;
}
.swiper-button-next {
  background-image: url("/icons/next_icon.svg") !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  scale: 1.15;
}

.modalWrapper > div {
  opacity: 0;
  transform: translateY(20px);
  animation: modalAppear 0.3s ease-in-out forwards;
}

@keyframes modalAppear {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

input,
textarea {
  outline: 2px solid transparent;
  box-shadow: 0 3px 10px #005f2400;
  transition:
    outline 0.3s,
    box-shadow 0.3s;
}
input:focus,
textarea:focus {
  outline: 2px solid #005f24;
  box-shadow: 0 3px 10px #005f2477;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.swiper > div.swiper-button-next,
.swiper > div.swiper-button-prev {
  color: #fff;
}
.swiper div.swiper-pagination-bullet {
  color: #fff5;
}
.swiper div.swiper-pagination-bullet-active {
  color: #fff;
}

.swiper
  > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullet {
  color: #fff5;
}

.swiper div.swiper-slide {
  height: auto;
}
.swiper div.swiper-wrapper {
  align-items: stretch;
}

.bulb {
  animation: bulbTilt infinite 2s ease-in-out alternate;
  transform-origin: top;
}

@keyframes bulbTilt {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes bulbFlash {
  0% {
    filter: brightness(0.3) drop-shadow(0 10px 20px #ff00);
  }
  50% {
    filter: brightness(1) drop-shadow(0 10px 100px #ff0);
  }
}

.switch {
  animation: switchSlide infinite 5s alternate ease-in-out;
}

@keyframes switchSlide {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 75%;
  }
  100% {
    bottom: 50%;
  }
}

/* FALLING ANIMATION */
/* fixed left-0 -top-14 z-50 h-screen w-screen text-right */
#leaves-falling-container {
  position: fixed;
  left: 0;
  top: -200px;
  z-index: 1;
  height: 100vh;
  width: 100%;
  text-align: right;
}

#leaves-falling-container i {
  display: inline-block;
  background-image: url("/img/leaf_01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: skew(20deg);
  z-index: 1;
}

#leaves-falling-container i:nth-of-type(n) {
  height: 60px;
  width: 50px;
  animation: falling3 12s 0s infinite;
  opacity: 0.7;
}

#leaves-falling-container i:nth-of-type(2n + 1) {
  height: 50px;
  width: 40px;
  animation: falling2 8s 0s infinite;
  opacity: 0.5;
}

#leaves-falling-container i:nth-of-type(3n + 2) {
  height: 80px;
  width: 70px;
  animation: falling 16s 0s infinite;
  opacity: 1;
}

#leaves-falling-container i:nth-of-type(n) {
  animation-delay: 1.9s;
}
#leaves-falling-container i:nth-of-type(2n) {
  animation-delay: 3.9s;
}
#leaves-falling-container i:nth-of-type(3n) {
  animation-delay: 2.3s;
}
#leaves-falling-container i:nth-of-type(4n) {
  animation-delay: 4.4s;
}
#leaves-falling-container i:nth-of-type(5n) {
  animation-delay: 5s;
}
#leaves-falling-container i:nth-of-type(6n) {
  animation-delay: 3.5s;
}
#leaves-falling-container i:nth-of-type(7n) {
  animation-delay: 2.8s;
}
#leaves-falling-container i:nth-of-type(8n) {
  animation-delay: 1.5s;
}
#leaves-falling-container i:nth-of-type(9n) {
  animation-delay: 3.3s;
}
#leaves-falling-container i:nth-of-type(10n) {
  animation-delay: 2.5s;
}
#leaves-falling-container i:nth-of-type(11n) {
  animation-delay: 1.2s;
}
#leaves-falling-container i:nth-of-type(12n) {
  animation-delay: 4.1s;
}
#leaves-falling-container i:nth-of-type(13n) {
  animation-delay: 1s;
}
#leaves-falling-container i:nth-of-type(14n) {
  animation-delay: 4.7s;
}
#leaves-falling-container i:nth-of-type(15n) {
  animation-delay: 3s;
}
#leaves-falling-container i:nth-of-type(16n) {
  animation-delay: 2.1s;
}
#leaves-falling-container i:nth-of-type(17n) {
  animation-delay: 4.6s;
}
#leaves-falling-container i:nth-of-type(18n) {
  animation-delay: 2.5s;
}

#leaves-falling-container i:nth-of-type(n) {
  background-image: url("/img/leaf_01.svg");
}
#leaves-falling-container i:nth-of-type(2n + 2) {
  background-image: url("/img/leaf_02.svg");
}
#leaves-falling-container i:nth-of-type(4n + 1) {
  background-image: url("/img/leaf_03.svg");
}

#leaves-falling-container i:nth-of-type(n) {
  transform: rotate(180deg);
}

#leaves-falling-container i:nth-of-type(n) {
  animation-timing-function: ease-in-out;
}

@keyframes falling {
  0% {
    -webkit-transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-350px, 140vh, 0) rotate(90deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    -webkit-transform: translate3d(-230px, 130vh, 0) rotate(-70deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    -webkit-transform: translate3d(-400px, 120vh, 0) rotate(0deg);
    opacity: 0;
  }
}

/* FLIPBOOK PAGES */

.book .book__page {
  transition: transform 1s;
}
.book .book__page .content {
  transition: transform 1s;
}

.book .book__page.turned .content {
  transform: rotateY(180deg);
}

.book .book__page.turned {
  transform: rotateX(2deg) rotateY(-180deg);
}

/* HIDE INPUT NUMBER SPIN FOR FELIX PAGE */

/* Chrome, Safari, Edge, Opera */
.felix__mark > input::-webkit-outer-spin-button,
.felix__mark > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.felix__mark > input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* HEROES ANIMATION */

@keyframes levitating {
  0% {
    transform: translateY(0);
    scale: 1.1;

  }
  50% {
  }
  100% {
    transform: translateY(35px);
    filter: drop-shadow(10px 10px 10px #12121235);
  }
}

@keyframes spinHighlight {
  0% {
    transform: rotateZ(0deg);
  }
  29% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(5deg);
  }
  35% {
    transform: rotateZ(-5deg);
  }
  40% {
    transform: rotateZ(5deg);
  }
  45% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
